body {
    user-select: none;
}

@media only screen and (max-width: 576px) {
    #detail {
        display: none;
    }
}

#mainView {
    background-color: #000000;
    overflow: scroll;
    height: 100vh;
    padding-bottom: 12px;
}

.item {
    margin-top: 12px;
}

.card {
    border: 0;
    border-radius: .5rem;
    background-color: #343434;
}

.panel-card {
    background-color: #11142a;
}

.clipboard-content-short {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #d2d2d2;
}

.btn:focus {
    box-shadow: 0 0 0 0 !important;
}

input:focus {
    box-shadow: none !important;
}

#detail {
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #dbdbdb;
    padding-left: 0;
}

.detail-card {
    height: 100%;
    background-color: #050505;
}

::-webkit-scrollbar {
    display: none;
}

.device-name {
    font-size: 24px;
    color: #b4b4b4;
}

.device-key {
    font-size: 16px;
    color: #808080;
}

.peer-panel {
    text-align: center;
}

.device-list-card {
    background-color: #0e1a15;
}

.list-group-item {
    border: 0;
    background-color: #00000000;
    color: #c7c7c7;
}

.btn-remove {
    float: right;
}

.btn-remove:hover {
    color: #ff3030;
}

.btn-hide {
    float: right;
    margin-right: 14px;
}

.btn-hide:hover {
    color: #c6c6c6;
}

.join-network-card {
    background-color: #1a0209;
}

.clipboard-panel {
    text-align: center;
}

.clipboard-panel-card {
    background-color: #131313;
}

.heading {
    font-size: 18px;
    color: #767676;
}